.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  text-align: left;
}

.admin-table th {
  background: #1e293b;
  color: white;
}

.admin-table tr:nth-child(even) {
  background: #f3f4f6;
}